

.addbooks-container{
    height: 695px;
    width: 1367px;
    background-color: #00000029;
    
}

.title{
    position: relative;
    left: 40px;
}

.card2{
    background-color: white;
    height: 470px;
    width: 350px;
    border-radius: 8px;
    z-index: 1;
    margin-left: -20px;
    margin-top: -50px;
}

.text{
    position: relative;
    top: 23px;
}
    
    
.card-title{
    font-family: sans-serif;
    font-size: 17px;
    border: none;
    width: 97px;
    background-color: white;
    margin-left: -15px;
}


.content{
    position: relative;
    left: 40px;
   
}

.input-field{
    position: relative;
    top: -9px;
    padding: 4px;
    width: 210px;
}

.sub-title{
    font-size: 10px;
    font-family: sans-serif;
    margin-top: -10px;
}

.buttons{
    position: relative;
    top: 15px;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0px 0px !important; width: 235px; border-top: 0.84375em;}

.btn1{
    background-color: green;
    padding: 3px 10px;
    position: relative;
    left: 176px;
}


